// Style for example block on frontend
// .block-example {
// }
      
.options-separator{
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.block-example{
  display: flex;
  >div{
    width: calc(50% - 20px);
    margin: 10px;
    position: relative;
    padding: 20px;
    min-height: 200px;
  }
  &__heading, &__secondHeading{
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  &__image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__paragraph {
    text-align: var(--example-block-paragraph-align);
  }
  &__secondParagraph {
    text-align: var(--example-block-secondParagraph-align);
  }
  &__heading {
    text-align: var(--example-block-heading-align);
  }
  &__secondHeading {
    text-align: var(--example-block-secondHeading-align);
  }
}
